@model nirgi_mvc.Models.Student

@{
    ViewData["Title"] = "Edit";
}


<h4>Student</h4>
<h6>@Model.FullName</h6>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        @Html.HiddenFor(model => model.Id)
        <dl class="row">
            <div class="col-md-3">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="form-group col-sm-10">
                    @Html.EditorFor(model => model.LastName)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.EditorFor(model => model.FirstName)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EnrollmentDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.EditorFor(model => model.EnrollmentDate)
                </dd>
            </div>
            <div class="col">
                <h2>Enrolled courses</h2>
                <table class="table">
                    <tr>
                        <th>Nr.</th>
                        <th>Name</th>
                        <th>Credits</th>
                        <th></th>
                    </tr>
                    @foreach (var course in ViewBag.Courses)
                    {
                        var enrollment = Model.Enrollments.Where(e => e.CourseID == course.CourseID).FirstOrDefault();
                        var enrolled = enrollment != null;
                        var grade = enrollment?.Grade.ToString();
                        var itemid = course.CourseID;

                        <tr>
                            <td>@course.CourseID</td>
                            <td>@course.Title</td>
                            <td>@course.Credits</td>
                            <td>
                                <input class="form-check" type="checkbox" name="enrolledCourses" onchange="changeTickbox('@itemid')" value="@course.CourseID" checked="@enrolled">
                            </td>
                            <td>
                                <select name="courseGrades" class="form-select" disabled="@(!enrolled)" id="gradeSelect_@itemid">
                                    <option value="A" selected="@(grade=="A")">A</option>
                                    <option value="B" selected="@(grade=="B")">B</option>
                                    <option value="C" selected="@(grade=="C")">C</option>
                                    <option value="D" selected="@(grade=="D")">D</option>
                                    <option value="F" selected="@(grade=="F")">F</option>
                                </select>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </dl>

        <button class="btn btn-outline-primary"> <a asp-action="Index">Back</a> </button>
        <input type="submit" value="Save" class="btn btn-primary" />
    </fieldset>

}

@section Scripts 
{
<script>
    function changeTickbox(itemid) {
        var checkbox = document.querySelector(`[value='${itemid}']`);
        var selectBox = document.getElementById(`gradeSelect_${itemid}`);
        selectBox.disabled = !checkbox.checked;
    }
</script>
}