@model nirgi_mvc.Models.Student

@{
    ViewData["Title"] = "Edit";
}


<h4>Student</h4>
<h6>@Model.FullName</h6>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        @Html.HiddenFor(model => model.Id)
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="form-group col-sm-10">
                @Html.EditorFor(model => model.LastName)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.EditorFor(model => model.FirstName)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </dt>
            <dd class="col-sm-10">
                @Html.EditorFor(model => model.EnrollmentDate)
            </dd>
        </dl>

        <button class="btn btn-outline-primary"> <a asp-action="Index">Back</a> </button>
        <input type="submit" value="Save" class="btn btn-outline-primary" />
    </fieldset>
}