@model nirgi_mvc.Models.Course

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger">DELETE COURSE</h1>
<h4>@Model.Title - @Model.Department?.Name</h4>
<br />
<h5>There are @Model.CourseAssignments.Count course assignments and @Model.Enrollments.Count enrollments assigned to this course </h5>
<h5>Are you sure you want to get rid of it?</h5>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        @Html.HiddenFor(model => model.CourseID)
        <input type="submit" value="Confirm" class="btn btn-danger" />
    </fieldset>
}
