@model nirgi_mvc.Models.ViewModels.CourseData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <div class="col-md-2">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.CourseID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.CourseID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.Credits)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.Credits)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Course.Department)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Course.Department.Name)
            </dd>
        </div>


        <div class="col-md">
            <h2>Assigned students</h2>
            <table class="table">
                <tr class="header">
                    <th>Nr.</th>
                    <th>Name</th>
                    <th></th>
                </tr>

                @foreach (var student in Model.AssignedStudents.ToList())
                {
                    <tr>
                        <td>@student.Id</td>
                        <td>@student.FullName</td>
                    </tr>
                }
            </table>

            <h2>Assigned instructors</h2>
            <table class="table">
                <tr class="header">
                    <th>Nr.</th>
                    <th>Name</th>
                </tr>
                @foreach (var instructor in Model.AssignedInstructors.ToList())
                {
                    <tr>
                        <td>@instructor.Id</td>
                        <td>@instructor.FullName</td>
                    </tr>
                }
            </table>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-primary">Back</a>
    <a asp-action="Edit" asp-route-id="@Model.Course.CourseID" class="btn btn-outline-primary">Edit</a>
</div>